@import '../../variables.scss';

.container {

    .title {
        text-align: center;
        margin-top: 0;
        padding: 5%;
        font-size: 40px;
        margin-bottom: 0;
    }

    .question {
        // border: 1px solid black;
        margin: 0 auto;
        width: 50vw;
        color: $text-color;
    }
}