.question {

}

.answer {
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    padding: 3%;
    outline: none;
    font-size: 20px;
}

.answerValid {
    background-color: rgb(89, 216, 89);
    border-color: green;
}

.answerInvalid {
    background-color: rgb(255, 78, 78);
    border-color: red;
}

.feedback {
    padding: 1%;
}

.feedbackValid {
    color: green;
}

.feedbackInvalid {
    color: red;
}