@import "./variables.scss";

.nav {
  height: $nav-height;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 100vw;
  max-height: 100vh;
  height: 90vh;
  background-color: darkgray;
  margin: 0;
}

* {
  box-sizing: border-box;
}