$nav-height: 7vh;
$nav-color: #101119;
$background-color: #0f1114;
$text-color: #f8f9fa;

.title {
    text-align: center;
    margin-top: 0;
    padding: 5%;
    font-size: 60px;
    margin-bottom: 0;
    color: $text-color
}